name: Run ESLint
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install eslint
      run: npm i -g eslint
    - name: Install modules
      run: npm i
    - name: Run ESLint
      run: eslint . --ext .js,.jsx,.ts,.tsx
